
@font-face {
  font-family: GT-America-Extended-Regular;
  src: url(./fonts/GT-America-Extended-Regular.otf);
}

html, body {
  font-family: GT-America-Extended-Regular;
  height: 100%;
  width: 100%;
  color: white;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  line-height: normal;
  font-style: normal;
  font-weight: normal;
}

#main {
  height: 100vh;
  width: auto;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(./img/in-grid_1295.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

a {
  font-size: 1.2rem;
  margin: 0;
  padding: 5px;
  color: white;
}

/* main logo style heading */

.hero-text {
  width: 100%;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 8.5rem;
  text-align: center;
  position: relative;
  top: 245px;
}

/* links at bottom of main image  */
.bottom-links {
  position: relative;
  top: 500px;
}

h6 {
  font-size: 1em;
  line-height: 12px;
}

/* ABOUT */

#about {
  height: 500px;
  width: 100%;
  background-color: rgb(200, 201, 201)
}

.about-text {
  width: 100%
}

#about .about-text h2 {
  padding-top: 40px;
  text-align: center;
  font-size: 1.6rem;
}

#about p {
  padding-top: 15px;
  text-align: left;
  font-size: 1.4rem;
}

/* TESTIMONIALS */

#testimonials {
  border-top: 5px solid white;
  height: 500px;
  width: 100%;
  background-color: rgb(200, 201, 201)
}

.testimonials-text {
  width: 100%;
}

#testimonials .testimonials-text h2 {
  padding-top: 40px;
  text-align: center;
  font-size: 1.6rem;
}
